body {
    font-family: sans-serif;
}

h1 {
    font-style: oblique;
}

h2 {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.button {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: inline;
    padding: 5px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box {
    float: left;
    padding: 10px;
}

#picker {
    margin-left: 40px;
}

#game-box {
    border-right: 2px solid #000000;
}