body {
    font-family: sans-serif;
}

h1 {
    font-style: oblique;
}

h2 {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.button {
    border-style: solid;
    border-width: 1px;
    display: inline;
    padding: 5px;
}

#picker {
    margin-left: 40px;
}
