html {
    height: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-style: oblique;
}

ul {
    list-style-type: none;
}

.button {
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 0px;
    padding: 10px 5px;
    cursor: pointer;
}

.upgrade {
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 0px;
    padding: 10px 5px;
    cursor: pointer;
}

.menuitem {
    margin: 5px 0px;
    padding: 5px 0px;
    cursor: pointer;
}

.box {
    height: 100%;
    float: left;
    padding: 10px;
    overflow: hidden;
}

.pricetag {
    float: right;
}

.tab-bar li{
    display: inline-block;
    margin-right: 20px;
    border-bottom: 1px solid;
    font-size: 20px;
    cursor: pointer;
}

.upgrade-level {
    font-weight: bold;
}

.achievement {
    color: #bababa;
    cursor: pointer;
}

.achievement:hover .tooltip {
    display: block;
}

.tooltip {
    display: none;
    z-index: 100;
    position: absolute;
    background: #ffffff;
    border-style: solid;
    border-width: 1px;
    padding: 4px 4px;
    color: #000000;
    font-weight: normal;
}

#picker {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 175px;
    cursor: pointer;
}

#mushrooms {
    text-align: center;
    font-weight: bold;
    color: #aa0000;
    cursor: default;
}

#game-box {
    width: 300px;
    border-right: 2px solid #000000;
}

#statistics-box {
    border-left: 1px solid #000000;
    border-right: 2px solid #000000;
}

#menu-box {
    border-left: 1px solid #000000;
}

#menu  {
    display: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

#display-menu {
    cursor: pointer;
}

#ach-notification {
    font-weight: bold;
    color: #dd0000;
}
